<html><body style='font-family:Arial;max-width:680px;margin:30px auto'><p style='color:#888'>Subject: Preliminary business plan for Discovery</p>
        <p>Dear Pat,</p>
        <p>Thanks for your continued interest in the Dallas Discovery launch.</p>
        <p>So, what are the goals and mission for Dallas Discovery? Perhaps you may want to weigh in
        on this question&hellip; but here is a start:</p>
        <ol>
            <li>To reflect the Love of God by creating an effective, powerful and emotionally
            safe environment for trainees to evaluate and overcome the broken parts of their
            lives so that freedom, joy, peace, and love become the cornerstones of their
            lives.</li>
            <li>Create an enduring training that outlasts any one key leader by:
                <ol type="a">
                    <li>Finding young leadership capable and willing to lead the training as
                    older leaders relinquish their roles;</li>
                    <li>To operate Dallas Discovery with margin so that the program will endure
                    financially and be capable of being passed on to the next operating team
                    without the need to infuse additional operating capital to keep it running.
                    If the program is not profitable, it will not succeed;</li>
                    <li>In perpetuity, freely pass on (without charge) to future operating
                    Discovery teams the intellectual property, licenses, software, and equipment
                    used to operate the program.</li>
                </ol>
            </li>
        </ol>
        <p>OK&hellip; so how will we accomplish this mission and these goals?</p>
        <ol type="a">
            <li>First, we will begin hosting Discovery social gatherings to build the excitement
            and renew friendships. We need someone to help organize and pull these events
            together.</li>
            <li>Next we will start a selection process for leadership teams. Previous leaders
            will have priority due to their experience, but the minimum expectation of all
            leadership is to have enrolled at least one trainee in D1, or one couple in the
            Relationship training. We need Facilitators for D2, D3, and Refocus. Initially, Max
            Thompson, Pamela Hafemann and I will be the lead facilitators in D1 and the
            Relationship training. But it is our desire to share this role with others who are
            qualified in the very near future. The Board of Directors will make the final
            leadership selections.</li>
            <li>Begin a marketing campaign with the goal of hosting a Relationship training within
            the next four to six months, and to kick off D1 soon thereafter. Our goal is to have
            forty couples in the training room for the first Relationship training. We believe
            the need for relationship coaching is so significant that with the right marketing
            campaign, we can easily fill the seats and use the energy from that training to kick
            off D1.</li>
            <li>Reach out to supporters for donations to the Discovery 501(c)(3), apply for
            grants, and appeal to GoFundMe types of organizations to raise capital. Based on
            early budget conversations, to responsibly host Dallas Discovery it has been
            recommended that $100,000 in cash-flow reserves be raised through donations.</li>
        </ol>
        <p><strong>VOLUNTEERS NEEDED AS FOLLOWS:</strong></p>
        <ol type="a">
            <li>Help raise $100,000 in donations to the Discovery 501(c)(3) non-profit
            organization.</li>
            <li>We need video and photography experts willing to work for free to help us put
            together an effective marketing campaign. Videography will include testimonials of
            enthusiastic trainees whose lives have been changed by the training. Relationship
            training videos and photography will be needed first.</li>
            <li>We need admin volunteers for the following:
                <ol type="a">
                    <li>Skilled coaches to help trainees with registration and payment
                    confirmation</li>
                    <li>Event sign-in table</li>
                    <li>Greet and mingle with trainees at the clap-in</li>
                </ol>
            </li>
            <li>We need someone to evaluate existing audio equipment and/or acquire additional
            equipment if needed.</li>
            <li>We need a place to store audio/video equipment and training supplies, and a means
            to transport this equipment if we cannot keep it at the hotel.</li>
            <li>We need someone to gather, organize, maintain and assemble the supplies needed
            for each training.</li>
        </ol>
        <p>Please let me know what role you may wish to play to open Discovery. Feel free to
        reach out to me with your thoughts at
        <a href="mailto:Kent@blueskyusa.net">Kent@blueskyusa.net</a>.</p>
        <p>Thank you again for your energy, your time, your heart, and your support.</p>
        <p>Blessings on you. I look forward to meeting you at our first Discovery get-together,
        if not sooner.</p>
        <p>Take care,<br>Kent Hafemann</p>
    </body></html>