<html><body style='font-family:Arial;max-width:680px;margin:30px auto'><p style='color:#888'>Subject: Preliminary business plan for Discovery</p>
        <p>Dear Pat,</p>
        <p>Thanks for your continued interest in the Dallas Discovery launch.</p>
        <p>So, what are the goals and mission for Dallas Discovery? Perhaps you may want to weigh in
        on this question&hellip; but here is a start:</p>
        <ol>
            <li>To reflect the Love of God by creating an effective, powerful and emotionally
            safe environment for trainees to evaluate and overcome the broken parts of their
            lives so that freedom, joy, peace, and love become the cornerstones of their
            lives.</li>
            <li>Create an enduring ministry that outlasts any one key leader by:
                <ol type="a">
                    <li>Operating Dallas Discovery so that revenue exceeds expenses;</li>
                    <li>When the time is right, transfer Discovery intellectual property,
                    licenses, software, and equipment to the next operating team at no cost.</li>
                </ol>
            </li>
        </ol>
        <p>We all believe that Discovery is a much-needed ministry in our broken world. Do you
        remember the cleansing of your heart, the amazing and powerful freedom, love, and
        forgiveness we each experienced in this training? Our lives were changed forever!!! I
        thank God for Discovery, and I know you do too, otherwise you would not be reading this.
        So, let&rsquo;s think big, and do something for Discovery that has never been done
        before&hellip; GIVE IT AWAY&hellip; so that for generations, by God&rsquo;s grace,
        millions of people will experience the love of God and love for themselves&hellip; and
        with this new-found power and freedom, LOVE OTHERS!!!! This is the greatest
        commandment.</p>
        <p>This is a monumental vision. To give Discovery away, as volunteers, it needs your
        prayers and your support. We need to find folks who believe in our mission and can give
        financially to the non-profit. If that might be you, or someone you know, please reach
        out to me to discuss the financial needs of the program. The program cannot open without
        financial support.</p>
        <p><strong>How will we accomplish this Mission?</strong></p>
        <ol type="a">
            <li>First, we will begin hosting Discovery social gatherings to build vision and
            excitement, and renew old friendships (volunteers will be needed to organize and pull
            these events together).</li>
            <li>Hold fund-raisers to capture the financial support needed to open the program.
            All donations will go to the Discovery 501(c)(3). Our goal is to secure sufficient
            funding to pay for the acquisition cost of the program, plus we have been advised
            that to responsibly host Dallas Discovery we need to raise $100,000 in cash-flow
            reserves to ensure the program survives.</li>
            <li>Begin the selection process for leadership teams. Previous leaders will have
            priority due to their experience, but the minimum expectation of all leadership is to
            have enrolled at least one trainee in D1, or one couple in the Relationship training.
            We need Facilitators for D2, D3, and Refocus. Initially, Max Thompson, Pamela
            Hafemann and I will be the lead facilitators in D1 and the Relationship training. But
            it is our desire to share this role with others who are qualified in the very near
            future. The Board of Directors will make final leadership selections.</li>
            <li>Begin a marketing campaign with the goal of hosting a Relationship training within
            the next four to six months, and to kick off D1 soon thereafter. Our goal is to have
            forty couples in the training room for the first Relationship training. We believe
            the need for relationship coaching is so significant that with the right marketing
            campaign, we can easily fill the seats and use the energy from that training to kick
            off D1.</li>
        </ol>
        <p><strong>VOLUNTEERS NEEDED AS FOLLOWS:</strong></p>
        <ol type="a">
            <li>We need video and photography experts willing to work for free to help us put
            together an effective marketing campaign. Videography will include testimonials of
            enthusiastic trainees whose lives have been changed by the training. Relationship
            training videos and photography will be needed first.</li>
            <li>We need admin volunteers for the following:
                <ol>
                    <li>Skilled coaches to help trainees with registration and payment
                    confirmation;</li>
                    <li>Two volunteers to man the event sign-in table;</li>
                    <li>Greet and mingle with trainees at the clap-in;</li>
                    <li>Qualified security personnel to oversee the safety of the program.</li>
                </ol>
            </li>
            <li>We need someone to evaluate existing audio equipment and/or acquire additional
            equipment if needed.</li>
            <li>We need a place to store audio/video equipment and training supplies, and a means
            to transport this equipment if we cannot keep it at the hotel.</li>
            <li>We need someone to gather, organize, maintain and assemble the supplies needed
            for each training.</li>
        </ol>
        <p>Please let me know what role you may wish to play to open Discovery. Feel free to
        reach out to me with your thoughts at
        <a href="mailto:Kent@blueskyusa.net">Kent@blueskyusa.net</a>.</p>
        <p>Thank you again for your energy, your time, your heart, and your support.</p>
        <p>Blessings on you. I look forward to meeting you at our first Discovery get-together,
        if not sooner.</p>
        <p>Take care,<br>Kent Hafemann</p>
    </body></html>